#national-button {
    height: 10px;
    width: 10px;
}
#state-button {
    height: 10px;
    width: 10px;
}
#local-button {
    height: 10px;
    width: 10px;
}
#national-button:hover {
    background-color: 0 12px 1px 0 rgba(255,0,0,0.50)/
}