body {
    margin:0;
    padding:0;
}

.title_cent {
    text-align:center;
}

.title_cent h1 {
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 36px;
    font-family: "Roboto Slab", "Helvetica Nueu", Helvetica, Arial, sans-serif;
}

#navMenu {
  margin: auto;
  width: 46%;
  font-size: 18px;
}

.redone-top-bar ul{
  list-style-type: none;
  text-align: center;
}

.redone-top-bar li {
  padding: 2px;
  font-family: 'Roboto', sans-serif;
  color: black;
  display: inline;
}

.redone-top-bar a {
  color: black;
}

.redone-top-bar a:hover {
  border-bottom-style: solid;
  border-bottom-color: lightblue;
}

.multimedia-graphic img {
  width: 100%;
}

.db-divide {
  border-bottom: thin solid #222222;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.db-footer {
  color: grey;
  line-height: 3;
}

.db-footer a {
  color: #0080c6;
}

.db-footer ul {
  margin: 0.625rem 0 0.625rem 0;
}

.db-footer li {
  list-style-type: none;
  display: inline-block;
  padding: 0 1rem 0 1rem;
}

/* News */
.headline a {
    text-decoration: none;
    color: inherit;
}

.headline a:hover {
    text-decoration: underline;
    -webkit-text-decoration-color: #0080c6;
    text-decoration-color: #0080c6;
}
.master_contain {
    display:flex;
    flex-wrap:wrap;
    margin: 10px 0 0 0;
    align-items: center;
    justify-content: center;
}
figure {
    margin:0;
    padding:0;
}
.article_img {
    max-width:400px;
    max-height: 400px;
    display: block;
    margin: auto;
}
.article_contain {
    width: 400px;
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.headline {
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    margin: 12px 0 12px 0;
}
.byline, .author {
    color: #999;
    margin-bottom: 2px;
    font-size: 12px;
    font-size: .750em;
}
.authorC {
text-transform: uppercase;
}
.authorC a {
text-decoration: none;
}

.time {
    font-style: italic;
}
.category {

    text-transform: uppercase;
}

.blurb {
    font-size: 14px;
    font-size: .875em;
}
@media (max-width:400px) {
    .article_contain {
        max-width:100%;
        margin: 5px 0;
        padding:0;
    }
    .article_img {
        max-width:100%;
    }
}

/* Multimedia */

.multimedia-container h1 {
  font-family: "Roboto Slab", serif;
  margin-bottom: 20px;
  margin-left: 20px;
}

.sound-clip {
  margin-bottom: 30px;
}

.multimedia-container a {
    text-decoration: none;
    color: inherit;
}

.multimedia-container a:hover {
    text-decoration: underline;
    -webkit-text-decoration-color: #0080c6;
    text-decoration-color: #0080c6;
}

.radio_iframe{
  display: block;
  margin: auto;
}

.radio_titles{
  text-align: center;
}

.filter-text{
  margin-top: 10px;
  display: inline;
  color: rgb(129,211,232);
  text-align: center;
}

.all{
  cursor: pointer;
  font-size: 15px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}

.all:hover{
  font-size: 22px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}
